*.pyc
*.d
*.oo
*.o
*~
*.a
include/generated
tmpclasses
classes/
.dirs
res/
*.jar
*.jad
.jar_built

/toolchain/crosstool-ng-1.28.0/
/toolchain/crosstool_install/
/toolchain/toolchain_build/
/toolchain/x-tools/
/toolchain/jasmin-2.4/
/toolchain/*.tar.bz2
/toolchain/*.zip
/toolchain/mips-cibyl-elf.tar.bz2

/build/CMakeCache.txt
/build/CMakeFiles/
/build/Makefile
/build/cmake_install.cmake
/build/bin/
/build/libs/
/build/include/
/build/java/
/build/mips-cibyl-elf/
/build/syscalls/
/build/tools/
/build/install_manifest.txt

/example/j2me/hello-world/program
